.container {
    display: flex;
    position: relative;
    width: 600px;
    height: 350px;
    margin: auto;
}

.block {
    position: absolute;
    background: red;
    height: 100%;
    width: 100%;

    img {
        height: 100%;
        width: 100%;
    }
}

.wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}

@mixin routers($padding) {
    position: absolute;
    top: 50%;
    z-index: 10;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: $padding;
    transition: 0.3s;
    color: white;

    &:hover {
        background: black;
    }
}

.leftBtn {
    @include routers(10px 0 10px 10px);
    left: 0
}

.rightBtn {
    @include routers(10px 5px 10px 5px);
    right:0;
}

.title {
    position: absolute;
    bottom: 100px;
    left: 45%;
    top: 80%;
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    text-shadow: 1px 1px 4px silver;
}

.round {
    background: silver;
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
        background: #343333;
    }

    &__wrapper {
        position: absolute;
        bottom: -30px;
        left:45%;
        display: flex;
        gap: 5px;
    }
}

.isActive {
    background: #343333;
}

.number {
    &__wrapper {
        display: flex;
        position: absolute;
        top: 10px;
        left:10px;
        color: white;
        z-index: 10;
    }
}