.items {
    text-decoration: none;
    color: black;
    padding: 5px 15px 4px;
    transition: 0.3s all;
}

.items:hover {
    background: #ccc;
}

.active {
    background: dodgerblue;
}

.active:hover {
    background: dodgerblue;
}

.title {
    color: black;
    text-decoration: none;
}

.title:hover {
    color: dodgerblue ;
}

.title_active {
    color:dodgerblue;
}

.slash {
    color: black;
}

.container {
    height: 100%;
    margin-top: 150px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}