.container {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.gallery_img {
    width: 100%;
    cursor: pointer;
}

.wrapper {
    width: 300px;
    height: 270px;
    border: 1px solid silver;
}

.wrapper:hover {
    border: 1px solid rgb(53, 53, 53);
}

.parag {
    padding: 5px 45px 0;
}

.text {
    text-align: center;
}