.nav {
    display: flex;
}

.footer {
    display: flex;
    justify-content: center;
}

.btn {
    background:transparent;
    border:none;
    padding: 7px 8px 4px ;
    cursor: pointer;
    transition: 0.3s all;
}

.btn:hover {
    background: #ccc;
}