.nav {
    display: flex;
    // width: 80px;
    overflow: hidden;
}

.footer {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    bottom: 10px;
}

.btn {
    background:transparent;
    border:none;
    padding: 7px 8px 4px ;
    cursor: pointer;
    transition: 0.3s all;
}

.btn:hover {
    background: #ccc;
}