@mixin boxes($bgColor , $color , $padding , $transition) {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $bgColor;
    transition: 0.5s;

    p {
        font-size: 1.2rem;
        color: white;
        white-space: nowrap;
        background: $color;
        padding:$padding;
        transition: $transition
    }
}