.alertBox {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.visible {
    background: transparent;
}

.hidden {
    background: rgba(28, 27, 27 , 0.5);
}